$Blue:#006AFF;

:export {
    Blue:$Blue
}

.font-dm-sans{
    font-family: 'DM Sans', sans-serif;
}



  .p-input {
    &__label {
      .p-input__box {
      }
      .p-input__details {
      }
    }
  }